/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mai 2015, 11:38:30
    Author     : steven
*/

.content-home{
    padding: 0;
    overflow: hidden;
    overflow: hidden;
    background-color: rgba(26, 23, 27, 0.38);
}

.map{
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.8);
    z-index: 2;
}
.blurpmenu{

    position: absolute;
    margin: -50px auto 0 auto;
    text-align: center;


    width: 99%;
    z-index: 25;


    bottom: -11px;
}

.blurpMenuRetour{
    position: absolute;
    margin: 66px auto 0 auto;
    top: 0px;
    text-align: center;
    width: 99%;
    z-index: 10;
    transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -moz-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
}

.btn__arrow {
    display: block;
    left: 50%;
    height: 10px;
    width: 10px;
    border-left: 2px solid rgb(68, 64, 64);
    border-top: 2px solid rgb(68, 64, 64);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    position: relative;
    z-index: 30;
    margin-top: -5px;
}

.btn--top_textRetour {
    color: white;
    position: absolute;
    left: 0px;
    right: 0;
    cursor: pointer;
    height: 50px;
    top: 48px;
    margin: 0 auto;
    padding-left: 1%;
    z-index: 67;
    width: 20px;
    transform: rotate(180deg) scale(1) skew(1deg) translate(0px);    
    -webkit-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);    -moz-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);    -o-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);    -ms-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
}
.divLeTireurBottom{
    height: 55px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 0px;
}


.btn--top_text {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    padding-right: 1%;
    cursor: pointer;
}

.divLeTireurTop{
    position: relative;
    top: -76px;}

.rotate180{
    transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -moz-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    bottom: -55px;
    z-index: 60;
}

@media (min-width: 767px){
    .content-home{
        padding-top: 76px;

    }
}


.btn--top_textRetour:hover {
    top: 52px;
    transition-duration: 0.25s;
}

.btn--top_text:hover {
    top: 31px !important;
    transition-duration: 0.25s;
}

.map{
    display: none;
}

.content-home .contenu_home  h2{
    color: rgb(249, 241, 224);
    padding-bottom: 58px;
    text-align: center;    
    font-family: 'NewCicleGordita', sans-serif;    
    font-size: 30px;    font-weight: 100;    
    text-transform: uppercase;            
    letter-spacing: 3px;  
}

.content-home .contenu_home  h2:after{
    content: " ";
    border-bottom: 1px solid rgb(249, 241, 224);
    height: 71px;
    width: 29px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.contenu_home{
    padding-top: 40px;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}

.contenu_home a{
    text-decoration: none;
    color: white;
}



.contenu_home .voyage .bloc_image{
    overflow: hidden;    
    margin: 0 auto;
    height: 245px;
    z-index: -1;
}

.contenu_home .voyage .bloc_image img{
    max-width: 576px;
    min-height: 245px;
    z-index: -1;
}

.bloc_description {
    position: absolute;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.57);
    top: 0;    
    height: 245px;
    display: none;            
    -webkit-transform: rotate(180deg);      -moz-transform: rotate(180deg);      -o-transform: rotate(180deg);
}

.contenu_home .voyage{
    max-width: 580px;
    position: relative;    
    overflow: hidden;    
    margin: 20px auto;
    border-radius: 5px;
    border: 2px solid rgb(228, 197, 141);
}

.contenu_home .voyage .titre{
    color: rgb(249, 241, 224);    
    padding-bottom: 15px;    text-align: center;    
    margin-top: -8px;
    font-family: 'NewCicleGordita', sans-serif;    
    font-size: 25px;    font-weight: 100;    text-transform: uppercase;    letter-spacing: 3px;

}

.contenu_home .voyage .description{

}

.rotate_description{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.voir_plus{
    margin: 25px auto;


    text-align: center;
}




.voir_plus:hover {
    text-decoration: underline;
}

.voyage.gauche {
    float: left;
}

.voyage.droite {
    float: right;
}

@media (max-width: 1200px){
    .liste_voyages {
        width: 580px;
        margin: 0 auto

    }
    .voyage.gauche {
        float: none;
    }

    .voyage.droite {
        float: none;
    }
    .contenu_home .voyage{
        margin: 10px;
        width: 580px;
    }
}

.onglet3mobile .contenu_article_suivant .un_article:hover {
  background-color: #2C292D;
}

.onglet3mobile .article_first:hover {
    background-color: #2C292D;
}