/*

Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* General settings */
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased; }
div.selector, div.checker, div.button, div.radio, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
    outline: 0; }
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0; }



/* Select */
.selector {
	background:url(../../images/checkout/bgr_select_edge.png) no-repeat right top!important;
  line-height: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
  	font-size:12px;
	color:#818181;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
    width: 100%!important;
	padding:0 3%!important;
 }
.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 35px;
    line-height: 35px;
    padding-right: 37px;
    cursor: pointer;
    display: block;
}
.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 35px;
    top: 0px;
    left: 0px;
	width:100%;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
}
/* Select */
.payment_drop .selector {
	background:url(../../images/checkout/bgr_select.png) no-repeat!important;
	line-height: 31px;
	position: relative;
	overflow: hidden;
  	font-size:13px;
	color:#737373;
	font-family:Arial, Helvetica, sans-serif;
	width:171px;
	height:31px;
	padding:0 0 0 12px!important;
	font-style:normal;
 }
.payment_drop .selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 31px;
    line-height: 31px;
    padding-right: 0;
    cursor: pointer;
    width: 183px;
    display: block;
	font-style:normal;
}
.payment_drop .selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 31px;
    top: 0px;
    left: 0px;
	width:183px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
}


/* Select */
.drop_bg .selector {
	background:url(../../images/checkout/bgr_common_select_edge.jpg) no-repeat right top!important;
	line-height: 31px;
	height: 31px;
	position: relative;
	overflow: hidden;
  	font-size:13px;
	color:#737373;
	font-family:Arial, Helvetica, sans-serif;
	width:100%!important;
	padding:0!important;
	margin:0!important;
	font-style:normal;
	position:absolute;
	top:-1px;
	right:-1px;
 }
.drop_bg .selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 31px;
    line-height: 31px;
    padding-right: 0;
    cursor: pointer;
    display: block;
	font-style:normal;
	padding-left:13px;
}
.drop_bg .selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 31px;
    top: 0px;
    left: 0px;
	width:100%!important;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
}

/* Select */
.chart_drop .selector {
	background:url(../../images/checkout/bgr_common_select_edge.jpg) no-repeat right top!important;
	line-height: 31px;
	height: 31px;
	position: relative;
	overflow: hidden;
  	font-size:13px;
	color:#626262;
	font-family:Arial, Helvetica, sans-serif;
	width:100%!important;
	padding:0!important;
	margin:0!important;
	font-style:normal;
	position:absolute;
	top:-1px;
	right:-1px;
 }
.chart_drop .selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 31px;
    line-height: 31px;
    padding-right: 0;
    cursor: pointer;
    display: block;
	font-style:normal;
	padding-left:10px;
}
.chart_drop .selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 31px;
    top: 0px;
    left: 0px;
	width:100%!important;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
}

/* Radio */
div.radio {
  position: relative; }
  div.radio, div.radio span, div.radio input {
    width: 14px;
    height: 16px; margin-right:2px; }
  div.radio span {
    display: -moz-inline-box;
    zoom: 1;
	display:block;
	background:url(../../images/checkout/btn_check.png) no-repeat!important;
	width:14px;
	height:16px;
}
    div.radio span.checked {
      background-position:0 -24px!important; 
	}
  div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center; }
.price_radio div.radio {
	margin-right:6px;
}