.menuChamp{
    cursor: pointer;
    transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,color 0.15s ease-in-out;
    border-bottom: 1px solid #5F5F5F;
    background-color: #242424;
}
.menuTitre{
    color: #fff;    
    padding-top: 6px;
    height: 70px;    
    width: 100%;    
    line-height: 50px;    
    text-align: center;    
    vertical-align: middle;    
    font-weight: 700;    
    font-size: 20px;
    background-color: #242424;
}
.menuUtilisateur{
    position: absolute;        
    left: 0px;    
    top: 76px;        
    width: 204px;        
    color: #aaa;
    z-index: 0;
    background-color: #1A171B;
}

.menuChamp a{
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
    line-height: 36px;
    font-weight: 300;
    font-family: "Open Sans",sans-serif;
    position: relative;
    padding: 5px 0 5px 40px;
}
.menuChamp:hover {
    background-color: #111;
}
.menuChampPremier{
    border-top: 1px solid #5F5F5F;
}



.actif{
    background-color: #111 !important;
}

.contentUtilisateur{
    margin: 0 auto;    
    padding: 35px 59px 0;
}

.content_account{
    min-height: 295px;
    width: inherit;
    margin-left: 204px;
    color: #000;
}

.active{
    display: block;
}

.content_carnet_voyage{
    max-width: 800px;
    margin: 50px auto 0;
}

.inputTitreCarnetVoyage{
    width: 77%;
    float: left;
}

.glyphicon_input{
    float: left;
    margin: 4px 0px 0 16px;
}

.glyphicon-ok{
    color: rgb(52, 132, 52);
}

.glyphicon-ok:hover{
    color: rgb(4, 215, 4);

}

.glyphicon-repeat{
    color: rgb(181, 31, 31);
}

.glyphicon-repeat:hover{
    color: rgb(255, 0, 0);

}

.glyphiHide{
    display: none;
}

.content_article{
    max-width: 800px;
    margin: 18px auto 0;
}

.widht90{
    width: 90%;
}


.contentUtilisateur h2 {
    margin: 0px auto;
    padding: 15px 0;
    text-align: center;
}


.tailleImageProfilMinature{
    width: 100px;
    height: 100px;
    background-image: url("../images/utilisateur/photoProfil/profile-photo.jpg");
    background-size: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.tailleImageProfil{
    width: 100px;
    height: 100px;
    background-size: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.modifImageProf{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    max-width: 100px;
    transition-duration: 0.25s;

    cursor: pointer;
    /* font-size: 88px; */
}
.modifImageProf:hover:before{
    transition-duration: 0.25s;
    color: rgba(255, 255, 255, 1);

    margin: 0 0 0 24px;
}

.modifImageProf:before{
    content: "\2b";    
    color: rgba(255, 255, 255, 0);
    transition-duration: 0.25s;
    font-size: 88px;;
}

.modifImageProf:hover{
    background-color: rgba(45, 45, 45, 0.5);
    transition-duration: 0.25s;
}


img#imageProfile {
    width: 100%;
}

.tailleImageProfilMinature {}

input[type="button"] {}

input[type="file"] {
}

input.jcrop-keymgr {
    display: none !important;
}

.locked{
    width: 19px;
    height: 22px;
    margin-top: 1px;
}