.fiche_voyage{
    background: #fff;
    text-align: left;        
    color: #000;
    margin: 0 auto 44px auto;
    height: auto;
}

.content_fiche_voyage{
    max-width: 1200px;
    margin: 0px auto;
    text-align: justify;
}
.rslides {
    margin: 0 auto 40px;
}

.col-lg-9{
    font-family: 'Avenir'
}

.row{

}


.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}




.callbacks_container {
    margin-bottom: 20px;
    position: relative;
    float: left;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.callbacks img {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    background: #000;
    background: rgba(0,0,0, .8);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 20px;
    margin: 0;
    max-width: none;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../images/themes.gif") no-repeat left top;
    margin-top: -45px;
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

.body_carnet{
    background-color : #fff;
}


.content_fiche_voyage .share_carnet .icone-social{
    width: 30px;
    height: 30px;
}

.content_fiche_voyage .image_profile{
    max-width: 240px;
}

.content_fiche_voyage .bloc_image_profile{
    max-height: 225px;
    overflow: hidden; 
    margin: 0 auto;
    text-align: center;
}

.baniere_description{
    background-color: #e6ded6;
    padding: 25px 0;
    margin-bottom: 30px;
}

.descriptionJour{
    max-width: 360px;
    float : left;
    padding: 8px 14px 21px 0;
    margin: 0 auto;
    min-height: 160px;
}



.textDescriptionJourHaut{
    font-size: 14px;
    font-family: 'Avenir'
        ;color: #c0ac79;
    max-height: 140px;
    text-align: justify;
    word-wrap: break-word;
}


.textDescriptionJourBas a{
    font-family: 'Avenir'
        ;color: #c0ac79;
}

.imgJour{
    width: 176px;
    overflow: hidden;
    margin: 0 auto;
    float: right;
}



.blockJour{
    display: flex;
    max-width: 500px;
    padding-left: 0;
    margin: 0 auto;
}

.blocVoyage{

    margin: 0 0 40px  0 !important;
}
.pointRouge{ 
    height: 30px;
}
.textJour{
    color: #c0ac79;
    font-size: 24px;
    text-align: center;
    padding-right: 0;
}

.blockRow{
    margin: 0 auto;
    max-width: 540px;
}

.textDescriptionJourBas {
    padding: 12px 6px 0 0;
    text-align: right;
    text-decoration: underline;
    font-size: 15px;
    color : #000;
    font-family: 'Avenir';
}



@media (min-width: 992px){
    .traiVerticalePoitiller{
        margin: 0px auto;
        border-left: 1px dashed #000;
        height: 100px;
        position: absolute;
        right: 0;
        left: 0px;
        width: 0px;
    }

    .pointRouge{
        background: #9c0f17;
        border-radius:50%;
        width: 25px;
        height: 25px; 
        margin: 4px auto;
    }
    .blocVoyage{

        margin: 0 0 85px  0 !important;
    }

    .textJour{
        text-align: right;
        padding-right: 20px;
    }


    .blockJour{
        margin: 0px 0 0 0;
        padding-left: 20px;

    }


    .textDescriptionJourBas {
        padding: 12px 6px 0 0;
        text-align: right;
        text-decoration: underline;
        font-size: 15px;
        color : #000;
        font-family: 'Avenir';
        position: absolute;
        bottom: 0;
        right: 13px;
    }


}

.carnet_user{
    text-align: center;
}

.share_carnet{
    padding-bottom: 6px;
    width: 245px;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 540px){
    .descriptionJour{
        float: none;
    }
    .textDescriptionJourBas {
        margin: 0 auto;

        text-align: center;
    }
    .imgJour{
        float: none;
    }
}
@media (min-width: 540px){
    .carnet_user{
        padding-top: 3px;
        float : left;
    }

    .share_carnet{
        float: right;
        padding-bottom: 6px;
        width: auto;
    }
}


.blocTraiVerticalePoitiller{
    height: 50px;
}


@media (max-width: 1200px){
    .carnet_user{
        padding-left: 10px;
    }

    .share_carnet{
        padding-right: 10px;
    }
}