
/**** fiche produit voyage ***/
.fiche_produit{
    background: #FFFFFF;
    text-align: left;        
    color: #000;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
}
@media (min-width: 768px){
    .fiche_produit{
        padding-top: 76px;
    }
}
span.fleche{
    color: black;
    text-decoration: underline;
}
.rslides {
    margin: 0 auto 40px;
}

.callbacks_container .caption {
    display: block;
    position: absolute;
    z-index: 2;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0; 
}

.callbacks_container .caption:hover{
    background: rgba(0,0,0, .8);
}

.callbacks_container h1{
    text-shadow: none;
    color: #fff;
    text-align: left;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 0px;
    padding-left: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    font-family: 'NewCicleGordita';
}

.callbacks_container h2{
    z-index: 2;
    text-shadow: none;
    color: #fff;
    text-align: left;
    font-family: "helvetica";
    font-size: 20px;
    padding-left: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.callbacks_container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}

.callbacks li {
    position: absolute;
    width: 100%;
    top: 0;
}

.callbacks img {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    min-width: 100%;
    border: 0;
    min-height: 100%;
    max-width: 140%;
    max-height: 140%;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 120;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../images/themes.gif") no-repeat left top;
    margin-top: -45px;
}

.callbacks_container .caption span{
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0px; 
    font-family: "helvetica";
}

.callbacks_container .caption_titre span{
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0px; 
    font-family: "NewCicleGordita";
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}


.fiche_produit .onglet_fiche{
    width: 100%;
    height: 49px;
    border-bottom: 2px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
    display: block;
    background-color: #fff;
    margin-bottom: 15px;
}

.fiche_produit .onglet_fiche .onglet{
    display: inline-block;
    width: 24%;
    line-height: 46px;
    text-align: center;
    height: 48px;
}

.fiche_produit .onglet_fiche .onglet_fiche_inner,.fiche_produit .onglet_fiche .contenu_fiche_onglet{
    width: 1200px; 
    margin: auto;
}

.fiche_produit .onglet_fiche .contenu_fiche_onglet{
    border: 1px solid black;
    min-height: 200px;
    display: block;
}

@media (max-width: 1200px){
    .fiche_produit .onglet_fiche .onglet_fiche_inner,.fiche_produit .onglet_fiche .contenu_fiche_onglet{
        width: 100%; 
    }

    .fiche_produit .contenu_onglet .contenu_fiche_onglet.onglet1mobile .info_pratique .inner .left{
        margin-bottom: 20px;
        padding: 10px;
    }

    .entete_fiche_produit button{
        margin-right: 10px;
    }

    .entete_fiche_produit a.voir_date{
        margin-left: 10px;
    }
}

.fiche_produit .contenu_onglet{
    width: 100%;
    min-height: 200px;
    margin: auto;
}

.fiche_produit .contenu_onglet .contenu_fiche_onglet{
    margin-bottom: 15px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.fiche_produit .contenu_onglet .contenu_fiche_onglet.onglet1mobile{
    max-width: 100%;
}

.fiche_produit .contenu_onglet .contenu_fiche_onglet.onglet1mobile .ligne_image, .fiche_produit .contenu_onglet .contenu_fiche_onglet.onglet1mobile .info_pratique{
    width: 100%;
    z-index: 100;
}

.fiche_produit .contenu_onglet .contenu_fiche_onglet.onglet1mobile .ligne_image{
    margin-bottom: 15px;
    margin: 0 auto;
    text-align: center;
}

.fiche_produit .contenu_onglet .contenu_fiche_onglet.onglet1mobile .info_pratique{
    background-color: #F2F2F2;
    margin-bottom: 20px;
    position: relative;
}

.fiche_produit .info_pratique .fond_image{
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fiche_produit .info_pratique .filtre_image{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 7;
    background: rgba(0,0,0, .7);
}

.fiche_produit .info_pratique .fond_image img{
    min-width: 100%;
    min-height: 100%;
}

.fiche_produit .contenu_onglet .contenu_fiche_onglet.onglet1mobile .info_pratique .inner{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    z-index: 8;
    position: relative;
    color: #fff;
}



.fiche_produit .contenu_onglet .contenu_fiche_onglet#onglet3,.fiche_produit .contenu_onglet .contenu_fiche_onglet#onglet2,.fiche_produit .contenu_onglet .contenu_fiche_onglet#onglet4{
    display: none;
}

@media (max-width: 780px){
    .fiche_produit .onglet_fiche{
        display: none;
    }
}

@media (max-width: 600px){
    .onglet4mobile .contenu .jour_container .day_container .description_container .image{
        float: none !important;
        width: 100% !important;
        margin-bottom: 20px;
    }

    .onglet4mobile .contenu .jour_container .day_container .description_container .texte{
        width: 100% !important;
    }

    .entete_fiche_produit .info_prix,.entete_fiche_produit .nom_pays{
        float: left !important;
        margin-left: 10px;
    }
}

@media (min-width: 845px){
    .onglet3mobile .contenu_article_suivant .un_article{
        width: 49%;
        float: left;
        height: 600px;
        max-height: 600px;
        margin-bottom: 25px;
    }

    .onglet3mobile .contenu_article_suivant .un_article.left{
        margin-right: 15px;

    }

    .onglet3mobile .contenu_article_suivant .un_article .callbacks_container.carnet{
        height: 242px;

        /* max-width: 420px; */
        margin: 0 auto;
    }

    .onglet3mobile .contenu_article_suivant .un_article{
        height: 600px;
    }

    .onglet3mobile .article_first .image{
        height: 300px;
    }

    .callbacks_container.carnet{
        height: 100%;
    }

    .onglet3mobile .separateur_article{
        width: 400px;
    }

    .onglet1mobile .conteneur_gauche, .onglet1mobile .conteneur_droit{
        float: left;
        min-height: 200px;
        padding: 12px;
    }

    .onglet1mobile .conteneur_gauche{
        width: 60%;
        max-width: 720px;
    }

    .onglet1mobile .conteneur_droit{
        width: 40%;
    }

    .onglet1mobile .conteneur_gauche{
        border-right: 1px solid #CDCDCD;
    }

    .onglet4mobile .contenu .jour_container .day_counter{
        position: absolute;
    }

    .onglet4mobile .contenu .jour_container .day_container{
        margin-right: 10px;
    }

    .ligne_image .img{
        width: 25%;
        float: left;
    }
}

@media (max-width: 978px){
    .callbacks_container .caption,.callbacks_container .caption_titre {
        display: none;
    }
}

@media (max-width: 910px){
    .onglet a,.onglet_mobile a{
        font-size: 1.2em !important;
    }

    .onglet.active a,.onglet:hover a{
        font-size: 1.2em !important;
    }

    .contenu_onglet .onglet1mobile .text{
        padding: 10px;
    }
}


@media (max-width: 845px){

    .onglet1mobile .conteneur_gauche, .onglet1mobile .conteneur_droit{
        width: 100%;
        float: none;
        min-height: 200px;
    }

    .onglet1mobile .conteneur_gauche{
        border-bottom: 1px solid black;
    }

    .onglet3mobile .article_first .partie_droite{
        max-width: 424px;
        width:100% !important;
        margin: auto;
        float: none !important;
        display: block;
    }

    .onglet3mobile .article_first{  
        max-width: 420px !important;
    }

    .onglet3mobile .article_first .image,.onglet3mobile .contenu_article_suivant .un_article{
        float: none !important;
        max-width: 420px;
        width:100% !important;
        margin: auto;
        display: block;
    }

    .onglet3mobile .article_first .image .zoom{
        display: none !important;
    }

    .onglet3mobile .contenu_article_suivant .un_article .callbacks_container.carnet,.onglet3mobile .contenu_article_suivant .un_article{
        height: auto;
    }

    .onglet3mobile .article_first .image{
        height: auto;
    }

    .callbacks_container.carnet{
        height: auto;
    }
    .onglet3mobile .separateur_article{
        width: 80%;
    }

    .onglet4mobile .contenu .blue_line,.onglet4mobile .contenu .jour_container .day_container .fleche_jour,.pointRouge{
        display: none;
    }

    .onglet4mobile .contenu .jour_container .day_counter{
        position: relative;
        width: 100% !important;
        margin: 0px !important;

    }

    .onglet4mobile .contenu .jour_container .day_counter .day{
        text-align: left;
        text-transform: uppercase;
        font-size: 2.375rem;
        font-family: "NewCicleGordita";
        color: #006695;
        margin-bottom: 10px;
    }

    .onglet4mobile .contenu .jour_container{
        padding-left: 0px !important;
        margin-left: 10px;
        margin-right: 10px;
    }

    .ligne_image .separation_image{
        clear: both;
    }

    .ligne_image .img{
        width: 50%;
        float: left;
    }

    .fiche_produit .contenu_onglet .contenu_fiche_onglet.onglet1mobile .info_pratique{
        margin-top: 15px;
    }

    .inner .sous_info .sous_info_left,.inner .sous_info .sous_info_right{
        width: 100% !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }

    .inner .sous_info{
        margin-top: 15px;
    }
}

@media (min-width: 780px){
    .fiche_produit .onglet_mobile{
        display: none;
    }
}

@media (min-width: 1200px){
    .fiche_produit .onglet_fiche .onglet{
        width: 296px !important;
    }
}

.fiche_produit .onglet_mobile{
    border-top:1px solid #CDCDCD;
    border-bottom:1px solid #CDCDCD;
    width: 100%;
    height: 48px;
    line-height: 48px;
}


#carte{
    width: 100%;
    height: 50%;
    padding-bottom: 20px;
}

.onglet a,.onglet_mobile a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'NewCicleGordita';
    font-size: 1.2em;
    font-weight: 100;
    color: #006695;
}

.onglet.active a,.onglet:hover a{
    font-family: 'NewCicleGordita'!important;
    font-size: 1.2em;
    font-weight: 500 !important;
    color: #0A1E39 !important;
}

.onglet3mobile .contenu_article_suivant .un_article a.titre:hover,.onglet3mobile .article_first .partie_droite a.titre:hover{
    color:#000 !important;
}

.onglet_fiche_inner .onglet.active,.fiche_produit .onglet_mobile.active,.onglet_fiche_inner .onglet:hover,.fiche_produit .onglet_mobile:hover{
    border-bottom: 2px solid #006695;
}

.fiche_produit .onglet_mobile.active{
    margin-bottom: 10;
}

#onglet4mobile{
    border-bottom: none;
}

#onglet3mobile.active, #onglet3mobile:hover{
    border-bottom: 3px solid #0A1E39;
}

.onglet_mobile a{
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
    background: url("../images/ficheproduit/plus-upsell.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}

.onglet_mobile.active a{
    background: url("../images/ficheproduit/minus-upsell.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}

.fiche_produit .entete_fiche_produit{
    max-width: 1200px;
    width: 100%;
    min-height: 50px;
    margin: auto;
    margin-bottom: 15px;
}

.fiche_produit .entete_fiche_produit h2.accroche{
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: bold;
    color: #333;

}

.onglet3mobile .article_first,.onglet3mobile .contenu_article_suivant{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    min-height: 264px;
    margin-bottom: 15px;
}

.onglet3mobile .article_first{
    padding: 12px;
    -webkit-box-shadow: 3px 0px 16px 0px rgba(0, 0, 0, 0.2);    -moz-box-shadow: 3px 0px 16px 0px rgba(0, 0, 0, 0.2);    box-shadow: 3px 0px 16px 0px rgba(0, 0, 0, 0.2);
}
.onglet3mobile .article_first:hover{
    background-color: #f5f5f5;
}
.onglet3mobile .article_first .image{
    width: 48%;
    position: relative;
    float: left;
    margin-right: 19px;
    padding-bottom: 20px;
}

.onglet3mobile .article_first .image img{
    /* max-width: 100%; */
    min-height: 100%;
}

.callbacks_container.carnet{
    margin-bottom: 0px;
}

.onglet3mobile .article_first .image a.zoom{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 70px;
    right: 10px;
    z-index: 1000;
    background: url("../images/ficheproduit/zoom.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}

.onglet3mobile .article_first .partie_droite{
    /* float: left; */
    /* max-width: 625px; */
    padding-right: 15px;
}

.onglet3mobile .article_first .partie_droite a.titre{
    display: block;
    height: 40px;
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.375rem;
    font-family: "NewCicleGordita";
    line-height: 2.5625rem;	
}

.onglet3mobile .article_first .partie_droite .date_auteur{
    font-family: 'NewCicleFinaItalic';
    padding-left: 20px;
    padding-top: 12px;
    font-size: 16px;
    line-height: 1.875rem;
}

.onglet3mobile .article_first .partie_droite .texte{
    padding-top: 20px;
    font-family: "helvetica";
    text-align: justify;
}

.onglet3mobile .article_first .partie_droite a.lire_suite{
    display: block;
    width: 100%;
    text-align: left;
    color: #989898;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 20px;
    font-family: "helvetica";
    font-weight: bold;
}

.onglet3mobile .article_first .partie_droite a.lire_suite:hover{
    color: #000  !important;
}

.onglet3mobile .contenu_article_suivant .un_article{
    width: 49%;
    float: left;
    max-height: 554px;
    margin-bottom: 25px;
    height: auto;
    padding: 12px;    
    -webkit-box-shadow: 3px 0px 16px 0px rgba(0, 0, 0, 0.2);    -moz-box-shadow: 3px 0px 16px 0px rgba(0, 0, 0, 0.2);    box-shadow: 3px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.onglet3mobile .contenu_article_suivant .un_article:hover{
    background-color: #EBEBEB;
}

.onglet3mobile .contenu_article_suivant .un_article .date_auteur{
    font-family: 'NewCicleFinaItalic';
    font-size: 12px;
    text-align: center;
    display: table;
    margin: auto;
    padding-bottom: 7px;
    border-bottom:1px solid #000;
    padding-top: 5px;
}

.onglet3mobile .contenu_article_suivant .un_article .date_auteur span{
    font-size: 16px;
    width: auto;

}

.onglet3mobile .contenu_article_suivant .un_article a.titre{
    display: table;
    margin: auto;
    text-transform: uppercase;
    font-size: 2.375rem;
    font-family: Apercu Bold,Helvetica,Arial,sans-serif;
    line-height: 2.5625rem;	
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    max-height: 50px;
    overflow: hidden;
}
.onglet3mobile .contenu_article_suivant .un_article a.titre:hover,.onglet3mobile .article_first .partie_droite a.titre:hover{
    color: #006695 !important;
    cursor: pointer;
}


.onglet3mobile .contenu_article_suivant .un_article .texte{
    text-align: center;
    margin-top: 15px;
    height: auto;
    max-height: 160px;
    overflow: hidden;
    font-family: "helvetica";
    text-align: justify;
}

.onglet3mobile .contenu_article_suivant .un_article a.lire_suite{
    display: block;
    width: 100%;
    text-align: center;
    color: #989898;
    text-decoration: none;
    padding-top: 20px;
    font-family: "helvetica";
    font-weight: bold;
}

.onglet3mobile .contenu_article_suivant .un_article a.lire_suite:hover{
    color: #000  !important;
}

.onglet3mobile .separateur_article {
    height: 1px;
    border-top: 1px solid #000;
    margin: auto;
    margin-bottom: 38px;
}

.vignette-paysage .header{
    height: 15px;
}

.onglet4mobile .contenu{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    min-height: 150px;
    padding-top: 20px;
    position:relative;
}

.onglet4mobile .contenu .blue_line{
    top: 0px;
    bottom: -15px;
    width: 2px;
    border-right: 1px dashed #000;
    background: #fff;
    margin-left: 96px;
    position: absolute;
    z-index: 0;
}

.onglet4mobile .contenu .jour_container{
    padding-left: 122px;
    padding-bottom: 35px;
    position: relative;
}

.onglet4mobile .contenu .jour_container .day_counter{
    margin-left: -185px;
    margin-top: 5px;
    width: 145px;
    text-align: right;
    color: #000;
    font-size: 24px;
    font-family: 'NewCicleGordita';
    font-size: 1.5em;
    padding-top: 8px;
}

.onglet4mobile .contenu .jour_container .day_container{
    box-shadow: 2px 2px 5px 1px #D3D3D3;
    background: #fff;
    position: relative;
    padding: 10px;
}

.onglet4mobile .contenu .jour_container .day_container .fleche_jour{
    width: 10px;
    height: 12px;
    position: absolute;
    background-color: #fff;
    top: 15px;
    left: -10px;
    background: #fff url("../images/ficheproduit/fleche.png") no-repeat left -6px;
}

.onglet4mobile .contenu .jour_container .day_container .description_container .image{
    width: 30%;
    float: left;
    display: block;
    margin-right: 20px;
    height: auto;
}

.onglet4mobile .contenu .jour_container .day_container .description_container .texte{
    float: left;
    width: 65%;
}

.onglet4mobile .contenu .jour_container .day_container .description_container .texte.no-image{
    width: 100%;
}

.onglet4mobile .contenu .jour_container .day_container .description_container .texte .titre{
    font-size: 2.375rem;
    font-family: "NewCicleGordita";
    line-height: 2.5625rem;
    margin-bottom: 15px;
}

.onglet4mobile .contenu .jour_container .day_container .description_container .texte .text{
    font-family: "helvetica";
}

.onglet4mobile .contenu .jour_container .day_container .description_container .image img{
    width: 100%;
}

.slide_bottom .any-class{
    width: 650px !important;
}

.carousel .miniature{
    margin-right: 2%;
    height: 700px;
    list-style-type: none;
    vertical-align: middle;
    margin-bottom: 12px;
}

.carousel .miniature.last{
    margin-right: 0px;
}

.carousel ul{
    min-height: 120px;
}

.carousel .miniature:hover{
    cursor: pointer;
}
.carousel .miniature img{
    width: 100%;
}

#jcl-demo .mid{
    margin-bottom: 12px;
}

#jcl-demo .mid img.zoom{
    width: 100%;
}

#jcl-demo{
    width: 100%;
    margin: auto;
    max-width: 650px;
}

.onglet_mobile a, .onglet_mobile a:focus{
    color: #000;
}

.pointRouge{
    background: #9c0f17;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -25px;
    top: 6px;
}



.ligne_image .img img{
}



.contenu_onglet .onglet1mobile .text{
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 15px;
    text-align: justify;
    font-family: "helvetica";
}

.contenu_onglet .onglet1mobile .text.last{
    margin-top: 20px;
}

.heure_locale{
    font-family: "helvetica";
    line-height: 30px;
    padding-left: 10px;
}

/* Other common styles */

.clear {
    clear: both;
}

/*******************      ****/


.top_bloc .container_dates{
    position: absolute;
    top:15px;
    left: 346px;
    background:rgba(255,255,255, .8);
    padding: 10px;
    border-radius: 3px;
}

@media (min-width: 900px){
    .top_bloc .container_dates{
        width: 60%;
    }

    #deplier_date_mobile{
        display: none;
    }

    .fiche_produit .texte_slide .titre{
        padding-bottom: 25px !important;
        padding-top: 15px !important;

        font-family: 'NewCicleGordita', sans-serif;
        font-size: 72px !important;
    }


}

@media (min-width: 800px) and (max-width: 900px){
    .top_bloc .container_dates{
        width: 55%;
    }

    #deplier_date_mobile{
        display: none;
    }
}

@media (max-width: 800px){
    .top_bloc .container_dates.desktop{
        display: none !important;
    }

    #deplier_date{
        display: none;
    }
}

.top_bloc .nom_pays{
    text-transform: uppercase;
    font-size: 2.375rem;
    font-family: "NewCicleGordita";
    text-align: center;
    width: 100%;
    padding: 15px 0;
    color: #006695;
}

.top_bloc .info_prix .place_dispo span{
    display: block;
}

.top_bloc span.result_date{
    display: block;
    width: 278px;
    margin: auto;
    font-family: "helvetica";
    margin-top: 10px;
    color: #989898;
}

@media (max-width: 700px){
    .carousel .miniature{
        margin-right: 2%;
        height: 300px;
        list-style-type: none;
        vertical-align: middle;
        margin-bottom: 12px;
    }
}

@media (max-width: 400px){
    .entete_fiche_produit button, .entete_fiche_produit a.voir_date{
        float: left;
    }

    .entete_fiche_produit button{
        width: 200px;
        margin-top: 10px; 
    }

    .entete_fiche_produit button{
        margin-left: 10px;
    }
}

.top_bloc{
    width: 100%;
    margin: auto;
    max-width: 900px;
}

.top_bloc .bloc_achat{
    width: 320px;
    min-height: 410px;
    position: absolute;
    top:15px;
    left: 15px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px;
    z-index: 100;
}

.contain_top_bloc{
    padding-bottom: 15px;
}

.fil_arianne_conteneur ul, .fil_arianne_conteneur{
    margin-bottom: 0px;
}

.choix .titre{
    text-transform: uppercase;
    font-family: 'NewCicleGordita';
    font-size: 1.5em;
    font-weight: 100;
    color: #006695;
}

.choisir_date{
    height: 38px;
    background: transparent;
    width: 50%;
    font-size: 14px;
    color: #006695;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: none;
    border: 2px solid #006695;
    float: right;
}

.choisir_date.outstock{
    display: none;
}

#embarque{
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 225px;
    font-size: 18px;
    line-height: 36px;
    font-family: 'NewCicleGordita';
    text-transform: uppercase;
    text-align: left;
    padding-left: 56px;
}

.slider_bot{
    width: 100%;
    margin: auto;
    position: relative;
    max-width: 900px;
    margin-bottom: 20px;
}

/*bloc info pratiuque */
.info_pratique .top{
    width: 100%;
    height: 50px;
    padding: 0 10px;
}

.info_pratique .top span{
    display: block;
    width: 28%;
    float: left;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-family: 'NewCicleGordita', sans-serif;
    font-size: 23px;
    font-weight: 100;
    text-transform: uppercase;
}

.info_pratique .top .trait_info{
    width: 36%;
    float: left;
    height: 25px;
    border-bottom: 1px solid #fff;
}

@media (max-width: 700px){
    .info_pratique .top span{
        width: 44% !important;
    }

    .info_pratique .top .trait_info{
        width: 28% !important;
    }

    .info_pratique .leftBloc, .info_pratique .rightBloc{
        width: 100% !important;
        margin-left: 0% !important;
    }
}

.info_pratique .leftBloc, .info_pratique .rightBloc{
    width: 46%;
    float: left;
    min-height: 100px;
    padding: 10px;
}

.info_pratique .rightBloc{
    margin-left: 8%;
}

.info_pratique .leftBloc ul li{
    list-style-type: none; 
    width: 100%;
    line-height: 45px;
    font-size: 14px;
}

.info_pratique .rightBloc ul li{
    list-style-type: none; 
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
}

.info_pratique .leftBloc ul li img{
    height: 30px;
}

.info_pratique .leftBloc ul li strong{
    text-transform: uppercase;
}

.info_pratique .rightBloc ul li strong{
    text-transform: uppercase;
    display: inline-block;
    width: 30%;
    float: left;
}

.info_pratique .rightBloc ul li span{
    display: inline-block;
    width: 70%;
    text-align: right;
    font-family: "helvetica";
    -webkit-font-smoothing: antialiased;
}

.info_pratique .leftBloc ul li span{
    float: right;
    font-family: "helvetica";
    -webkit-font-smoothing: antialiased;
}

.info_pratique .leftBloc ul, .info_pratique .rightBloc ul{
    width: 100%;
    margin-bottom: 0px;
}

.info_pratique .leftBloc .titre, .info_pratique .rightBloc .titre{
    text-align: center;
    height: 50px;
    text-transform: uppercase;
    font-family: 'NewCicleGordita', sans-serif;
    line-height: 23px;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 3px;
}

.info_pratique .traitTopPicto{
    width: 10%;
    height: 2px;
    border-bottom: 1px solid #fff;
    margin: auto;
    margin-bottom: 20px;
}

.info_pratique .picto{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.info_pratique .picto li{
    display: inline-block;
    width: 12%;
    margin-left: 3%;
    max-width: 35px;
    padding-bottom: 20px;
}

.info_pratique .picto li:first-child{
    margin-left: 0;
}

.info_pratique .picto li img{
    width: 100%;
}

/* pop commander */
.top_bloc .topLeft{
    width: 70%;
    float: left;
    max-width: 400px;
    overflow: hidden;
}

.top_bloc .topLeft h2{
    font-family: "helvetica";
    font-size: 16px;
    color: #565a5c;
}

.top_bloc{
    padding-top: 20px;
}

@media (max-width: 900px){
    .top_bloc .topLeft{
        width: 100% !important;
        padding-right: 10px;
        padding-left: 10px;
        max-width: none !important;
    }

    .top_bloc .topRight{
        float: none !important;
        margin: auto;
        clear: both;
    }
}

@media (min-width: 650px){
    .fiche_produit .texte_slide .titre{
        font-size: 54px;
    }
}

@media (min-width: 500px) and (max-width: 650px){
    .fiche_produit .texte_slide .titre{
        font-size: 34px;
    }
    .fiche_produit .texte_slide .date{
        font-size: 23px !important;
    }
}

@media (min-width: 400px) and (max-width: 500px){
    .fiche_produit .texte_slide .titre{
        font-size: 24px;
    }
    .fiche_produit .texte_slide .date{
        font-size: 18px !important;
    }
}

.fiche_produit .texte_slide{
    position: relative;
    z-index: 100;
    margin: auto;
    top:-65%;
    padding: 20px;
    width: auto;
}

.fiche_produit .texte_slide .titre{
    text-align: center;
    font-family: 'NewCicleGordita', sans-serif;

    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 15px;
    letter-spacing: 3px;
    line-height: 75px;
}

.fiche_produit .texte_slide .trait{
    margin: auto;
    width: 7%;

}

.fiche_produit .texte_slide .date{
    text-align: center;
    color: #fff;
    padding-top: 15px;
    font-family: "helvetica";
    font-style: italic;
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
}

.top_bloc .topRight{
    width: 450px;
    float: right;
    min-height: 200px;
    position: relative;
    background: #fff;
}

.topRight
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.topRight:before, .topRight:after
{
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

@media (max-width: 900px){
    .fiche_produit .texte_slide{
        top: -65%;
    }

    .top_bloc{
        padding: 10px;
    }
}

@media (max-width: 500px){
    .fiche_produit .texte_slide{
        top: -70%;
        border: none;
    }
}

.fiche_produit .infoPersoVoyage{
    width: 100%;
    background-color: #f5f5f5;
}

.fiche_produit .infoPersoVoyage .content{
    width: 100%;
    max-width: 900px;
    margin: auto;
    background-color: #f5f5f5 !important;
    padding: 0px;
}

.fiche_produit .infoPersoVoyage .content div.bloc{
    width: 100%;
    min-height: 50px;
    background-color: #edefed;
    border: 1px solid #dce0e0;
    margin-bottom: 30px;
    float: left;
}

.fiche_produit .infoPersoVoyage .content div.first{
    margin-top: 30px;
}

.fiche_produit .infoPersoVoyage .content .titre{
    width: 100%;
    height: 50px;
    padding-left: 15px;
    line-height: 50px;
    font-family: 'NewCicleGordita', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    color: #565a5c;
    padding-top: 8px;
}

.fiche_produit .infoPersoVoyage .content .titre .picto{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px
}

.fiche_produit .infoPersoVoyage .content .bloc.formalite .titre .picto{
    background: url(../images/ficheproduit/formalites.png) center center no-repeat;
}

.fiche_produit .infoPersoVoyage .content .bloc.asavoir .titre .picto{
    background: url(../images/ficheproduit/a_savoir_2.png) center center no-repeat;
}

.fiche_produit .infoPersoVoyage .content .bloc.comprenant .titre .picto{
    background: url(../images/ficheproduit/package_2.png) center center no-repeat;
}

.fiche_produit .infoPersoVoyage .content .texte{
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: #565a5c;
    font-family: "helvetica";
    font-size: 16px;
    padding-left: 75px;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
}

@media (max-width: 900px){
    .fiche_produit .infoPersoVoyage .content{
        padding: 10px !important;
    }
}


.topRight .bloc{
    float: left;
    height: 100px;
}

.topRight .bloc .titre{
    display: block;
    height: 65px;
    width: 100%;
    text-transform: uppercase;
    font-family: 'NewCicleGordita', sans-serif;
    line-height: 23px;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 2px;
    padding-left: 10px;
    font-weight: bold;
    line-height: 75px;
    color: #000;
}


.topRight .bloc.bloc1{
    width: 26%;
}

.topRight .bloc.bloc2{
    width: 26%;
}

.topRight .bloc.bloc3{
    width: 48%;
}

.topRight .bloc .valeur{
    padding-left: 9px;
    font-family: "helvetica";
    font-size: 16px;
    color: #006695;
    margin-top: 5px;
}

.topRight .bloc2 .valeur{
    font-weight: bold;
    color: #960018;
    font-size: 20px;
    margin-top: 0px;
}

@media (max-width: 480px){
    .topRight .bloc.bloc1{
        width: 50%;
        height: 90px !important;
    }

    .topRight .bloc.bloc2{
        width: 50%;
        height: 90px !important;
    }

    .topRight .bloc.bloc3{
        width: 50%;
        height: 90px !important;
        float: left;
    }

    .top_bloc .topRight{
        width: 100% !important;
        height: 250px !important;
    }

    .topRight .bloc_date{
        padding-top: 25px;
    }
}

.topRight a.voir_date{
    display: block;
    position: absolute;
    bottom: 14px;
    left: 10px;
    font-family: "helvetica";
    width: 50%;
    color: #006695;
}
@media (max-width: 450px){
    .topRight a.voir_date{
        text-align: left;
        bottom: 4px !important;
        width: 37% !important;
    }
}


@media (max-width: 400px){
    #embarque{
        width: 160px !important;
        text-align: left !important;
        font-size: 21px !important;
    }

    .bloc3 span.titre{
        font-size: 12px !important;
    }
}

.topLeft h1{
    font-family: 'NewCicleGordita';
    text-shadow: none;
    color: #565a5c;
    text-align: left;
    font-size: 50px;
    text-transform: none;
    margin-bottom: 0px;
    padding-top: 0px;
}

#data span{
    font-family: "helvetica";
    padding-bottom: 20px;
    display: block;
    color: #000;
}

#data{
    color: #565a5c;
    font-family: "helvetica";
}

#data a{
    color: #000;
    font-family: "helvetica";
}

.topRight .bloc_date{
    width: 50%;
    min-height: 30px;
    padding-left: 10px;
    float: left;
}

.topRight .bloc_date p{
    margin: 0;
}

.topRight .bloc_date p span{
    color: #565a5c;
}




#onglet3 .callbacks img {
    min-height: 484px;
    height: auto;
    margin-top: 0%;
    width: auto;
}

.image_slide_carnet {
    width: 100%;    
    height: 272px;    
    overflow: hidden;
}


div#onglet3 .callbacks {
    height: 240px;
}

div#onglet3 .callbacks img {
    min-width: 100%;    
    min-height: 100%;
    max-width: 140%;
    max-height: 140%;
}

.imageDeroulement{
    max-width: 100%;
    max-height: 160px;
}

.blocImageDeroulement{
    max-width: 30%;
    float: left;
    display: block;
    margin-right: 20px;
    height: auto;
}

.bloc_image_banniere{
    width: 100%;
    display: block;
    overflow: hidden;    
    height: 30%;;
}

.image_banniere{
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    max-height: 140%;
}
