.footer {
    text-align:center;
    /* border-bottom: 1px solid rgb(105, 102, 102); */
    border-top: 1px solid rgb(105, 102, 102);
}
.bloc_footer {
    text-align: left;
    width: 300px;
    padding: 20px 30px;
    float: left;
}
.infoSupplementaires {
    width: 900px;

    margin: 0 auto;
    display: flex;
}
.newsletter input {
    width:100%;
    margin:5px 0px;
}
.newsletter button {
    background-color:#0076a3;
    float:right;
    margin-bottom:20px;
}
.enSavoirPlus ul, .nosServices ul{
    padding: 8px 0 0px 0px;
    margin-top:0;
    list-style-type:none;
}
.enSavoirPlus ul li {
    display:block;
    text-decoration:none;
}
a:link {
    color:white}
.basPage {
    display:inline-block; 
    margin:0 auto; 
    width: 900px;
}
.basPage img {
    float:left;
    padding:10px;
}
.menuBas {
    float:right;
    padding:10px;
    font-weight: 600;
}
.menuBas span {
    margin:0 5px;
}
.reseauxSociaux{
    margin:  0 auto;
    text-align: center;
}

.navbar-right{
    display: none;
}

@media screen and (max-width: 900px) {
    .infoSupplementaires {
        width: 596px;
        display: block;
    }
    .enSavoirPlus{
        width: 173px;
        padding: 20px 10px;
    }
    .nosServices{
        padding: 20px 10px;
        width: 185px;
    }
    .basPage{
        width: 100%;
    }
    .newsletter{
        padding: 20px 10px;
        width: 238px;
    }
}

@media screen and (max-width: 600px) {
    .bloc_footer{
        width: 300px;
    }
    .infoSupplementaires {
        width: 300px;
    }
    .basPage{
        width: 300px;
    }
    .basPage img{
        text-align: center;
        margin:  0 auto;
        float: inherit;
    }

    .content-inscription{
        width: 100%;
    }
    
    .btn-mobile{
        width: 100%;
    }

}
