@font-face { 
    font-family: 'Apercu Bold'; 
    src: url('../fonts/Apercu-Bold.otf'); 
}

@font-face { 
    font-family: 'Apercu Light'; 
    src: url('../fonts/Apercu-Light.otf'); 
}

@font-face { 
    font-family: 'Open Sans Condensed'; 
    src: url('../fonts/OpenSans-CondLight.ttf'); 
}



body {
    margin:auto;
    background-color: #1a171b;
    color: #FFF;

}

/******* header *********/
.header {
    height: 50px;
    color:white;
    font-size: 16px;
    vertical-align:middle;
}

.logo {float:left;}
.profil {
    float:right;
    margin: 25px 75px 0 ;
}
.menu {padding:35px;}
.filAriane {padding:2% 0;}

.menu span{
    padding-right: 20px;
    padding-left: 20px;
}

a{
    text-decoration: none;
    color : #fff;
}

.menu a:hover{
    border-bottom: 2px solid;
}

.imageLogo{
    width: 150px;
    height: 50px;
}
.imageCompte{
    width: 33px;
    height: 33px;
}


.textMenu{
    margin: 0 45px -50px 0;
    position: inherit;
    height: 50px;
    vertical-align: middle;
    width: 28%;
    text-align: center;
    padding-top: 14px;
}

.allTextMenu{
    margin: 0px 0px 0 29px;
    padding-left: 0;
    display: flex;
    /* margin: 0 auto; */
    text-align: center;
}

.textMenu:hover{
    color: #DFDEDE !important;
}


@media (max-width: 1200px){
    .navbar-nav {
        padding-left: 6.79%;
        text-align: center;
    }
}


@media screen and (max-width: 992px) {
    .textMenu {
        white-space: nowrap;
        margin: -27px 0% -41px 0;

        height: 64px;
        padding-top: 28px;
    }
    .allTextMenu{
        margin: 0 10% 0 0;
    }
    .allTextMenu{
        margin: 14px 0 -85px 0;
    }

    .header {
        height: 50px;
        font-size: 15px;
    }

    .imageLogo{
        width: 125px;
        height: 50px;

    }

    .navbar-nav>li {
        margin-top: 3px;
    }
    .imageCompte{
        width: 35px;
        height: 35px; 

        margin-top: 25px;
        margin-bottom: -7px;
    }
    .navbar-nav {
        padding-left: 2%;
    }
}



@media (min-width: 768px){
    .navbar-right{
        display: block;

        margin-top: -20px;
    }

    .cacher{
        display: none !important;
    }

}

@media (max-width: 768px){
    .textMenu{
        margin: 0;

        width: 100px;
        height: 50px;
        padding-top: 15px;
    }
    .navbar-right{
        display: none;
    }
    .allTextMenu{
        margin: 20px 0 20px 0;

        width: 100%;
        text-align: center;


        display: initial;
    }
}

@media (max-width: 400px){
    .btn{
        width: 100%;
    }
}
/******* end header *********/


.image
{
    text-align:center;
    display: inline-block;
}
.original
{
    height:100px;
}

.compte
{
    float:right;
    text-align:right;
}




.content-inscription, .content-connexion{
    /* max-width: 600px; */
    margin: 0 auto;
}
.content-inscription a {
    text-decoration: none;
}

.content-contact{
    max-width: 700px;
    margin: 0 auto;
}
.content-contact textarea{
    resize: vertical;
    height: 200px;}

.top
{
    padding:30px 0px 15px 50px;
}

.filtres
{
    margin-top:50px;
    margin-bottom:20px;
    display:inline-block;
    width:100%;
}

.nbArticle
{
    float:left;
}

.tri
{
    float:right;
}

.articles 
{
    text-align:left;
    width:100%;
}

.articles article 
{
    display:inline-block;
    margin:10px 10px 10px 0px;
}

/******* footer *********/
footer a:hover,a:focus{
    color: #BBBBBB !important;
    text-decoration: none;
}
footer li{
    display: inherit;
}

#footer li{
    margin-top: 10px;
    display: -webkit-box;
    text-align: -webkit-center;
}
.textFooter a{
    font-size: 16px;
    line-height: 17px;
    color: #BBBBBB !important;
    margin: 0 0 15px 0;
}

.textFooter a:hover{
    color: #FFFFFF !important;
}


.textFooter img:hover{
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    filter:alpha(opacity=70);
    top: 2px;    
}

.textFooter img{
    position: relative;    
    top: 0;
    margin-right: 14px;
    margin-top: 10px;

}
.buttonNewsletter{
    width: 100%;
    margin: 4px 0 0 0;
}
.textFooter{
    font-size: 13px;
    line-height: 17px;
    color: #BBBBBB !important;
    margin: 0 0 15px 0;
}
h3.titre{
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 23px;
    margin: 0 0 30px 0;
    font-family: Apercu Bold,Helvetica,Arial,sans-serif;
}
.blockFooter_1{
    margin: 54px 0 15px 0;
}
.blockFooter_3{
    margin: 0 0px 27px 0;
}
.blockFooter_5{
    margin: 0 0 0px 0;
}
.blockFooter_6_1{
    margin-top: 50px;
}
.blockFooter_6_2{
    margin-top: 50px;
}
.blockFooter_6_3{
    margin-top: 50px;
}
.explicationFooter{
    font-style: italic;
    font-family: Apercu Light,Helvetica,Arial,sans-serif;
}

.blockFooter_7{
    margin-bottom: 30px;
}
.numerosFooter{
    font-size: 24px;
    font-family: Apercu Bold,Helvetica,Arial,sans-serif;
}
h2.titre{
    font-size: 23px;
    white-space: nowrap; 
    font-family: Apercu Bold,Helvetica,Arial,sans-serif;       
}
#footer{
    text-align: center;
    margin: 0 auto;
}
.trait{
    margin: 30px 0 0 0;
    border-bottom: 1px solid white;
}

#footer .blocPicReseau.col-md-12 {  max-width: 302px !important;margin: auto;width: 100%;float: none;}


/******* end footer *********/















