.content{
    padding: 0;
    overflow: hidden;
    overflow: hidden;
    background-color: rgba(26, 23, 27, 0.38);
}

.content {
  width: 100%;
  margin: auto;
  background-color: #fff;
  color: #000;
}


.bloc-voyage  h2{
    padding-bottom: 58px;
    text-align: center;    
    font-family: 'NewCicleGordita', sans-serif;    
    font-size: 30px;    font-weight: 100;    
    text-transform: uppercase;            
    letter-spacing: 3px;  
}

.bloc-voyage  h2:after{
    content: " ";
    border-bottom: 1px solid rgb(249, 241, 224);
    height: 71px;
    width: 29px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.bloc-voyage{
    padding-top: 75px;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.bloc-voyage a{
    color:white;
    text-decoration: none;
}

.bloc-voyage .voyage .bloc_image{
    overflow: hidden;    
    margin: 0 auto;
    height: 288px;
    width: 500px;
    text-align: center;
    z-index: -1;
}

.bloc-voyage .voyage .bloc_image img{
    max-width: 576px;
    min-height: 245px;
    z-index: -1;
}

.bloc-voyage .voyage{
    max-width: 580px;
    position: relative;    
    overflow: hidden;    
    margin: 20px auto;
    border-radius: 5px;
   /* border: 2px solid rgb(228, 197, 141);*/
   border : solid 10px #F5F5F5;
    -webkit-box-shadow: 3px 3px 16px 0px rgba(50, 50, 50, 0.8);  -moz-box-shadow:    3px 3px 16px 0px rgba(50, 50, 50, 0.8);  box-shadow:         3px 3px 16px 0px rgba(50, 50, 50, 0.8);
}

.bloc-voyage .voyage .titre{
    padding-bottom: 15px;    text-align: center;    
    margin-top: -8px;
    font-family: 'NewCicleGordita', sans-serif;    
    font-size: 25px;    font-weight: 100;    text-transform: uppercase;    letter-spacing: 3px;
    color:white;

}

.bloc-voyage .voyage .description{
	color:white;
}

.bloc_description {
    position: absolute;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.57);
    top: 0;    
    height: 288px;
    width: 500px;
    display: none;            
    -webkit-transform: rotate(180deg);      -moz-transform: rotate(180deg);      -o-transform: rotate(180deg);
}

.voyage.gauche {
    float: left;
}

.voyage.droite {
    float: right;
}

@media (max-width: 1200px){
    .liste_voyages {
        width: 580px;
        width: 100%;
        margin: 0 auto

    }
    .voyage.gauche {
        float: none;
    }

    .voyage.droite {
        float: none;
    }
    .contenu_home .voyage{
        margin: 10px auto;
        max-width: 580px;
    }
}

.liste_voyages {
    max-width: 1200px;
    margin: 0 auto;
}

.rotate_description{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}



.voir_plus{
    margin: 25px auto;
    text-align: center;
}

.voir_plus:hover {
    text-decoration: underline;
}

.pagination {
    width: 100%;
    text-align: center;
}


.content .voyages .entete{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    position: relative;
    margin-bottom: 10px;
    margin-top:40px;
}

    .cercleGauche, .cercleDroit{
        position: absolute;
        background: #BFBFBF;
        border-radius: 10px;
        display: block;
        width: 7px;
        height: 7px;
        bottom: -4px;
        z-index: 3;
    }

    .cercleGauche{
        left:0px;
    }

    .cercleDroit{
        right:0px;
    }

    .content .voyages .entete .titre{
        text-align: center;
        width: 100%;
        padding-top: 30px;
        font-size: 40px;
        white-space: nowrap;
        font-family: 'NewCicleGordita', sans-serif;
        text-transform: uppercase;
        color: #090A1F;

    }

        .content .voyages .entete .titre sup{
            font-size: 25px;
            color: #337ab7;
        }

    .content .voyages .entete .description{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: "helvetica";
        font-size: 16px;
        color: #565a5c;
    }

    .continent {
        font-size:24px;
        margin:15px auto;
    }

.floarLeft a {
    color: #000;
}

.floarLeft {
    float: left;
}

.floarRight {
    float: right;
}