

form#add-travel textarea {
    width: 100% !important;
}

form#add-travel{
    max-width: 760px;    
    margin: 0 auto;
}

form#add-travel legend {
}


#bouton_header{
    float: right;
    margin-top: 6px;
    margin-right: 6px;
}

.controls.error{
    color: #FF0000;
}


form#add-travel input {
    width: 100%;
}

.clear{
    clear: both;
}

.bouton_right{
    float: right;
    margin-top: 6px;
    margin-right: 6px;
}

.image .widget-header h3 {
}

.modal .modal-header h3 {
    margin-top: 0;
    color: black;
}

div#myModal {}

.modal .modal-header h3 {
}

.modal .modal-header .close {
    margin-top: -3px;
    padding-bottom: 0px;
    padding-right: 5px;
}

.modal .modal-header {
    padding: 20px 15px;
}

.modal .modal-footer input {
    width: auto !important;
}

.center{
    text-align: center !important;
    margin:  0 auto}

.maxW115{
    max-width: 115px;
}

.td_image{
    width: 250px;
}

.image_100{
    max-width: 100%;
    max-height: 160px;
}

.width_auto{
    width: auto !important;
}

.w100{
    width: 100%;
}
.w90{
    width: 80%;
}
.w80{
    width: 80%;
}
.w70{
    width: 60%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
}
.w30{
    width: 30%;
}
.w20{
    width: 20%;
}
.w10{
    width: 10%;
}

.file_design_green::-webkit-file-upload-button {
    visibility: hidden;
}
.file_design_green::before {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
    box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(128, 128, 128, 0.1)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
    background-color: white;
    border-color: whitesmoke whitesmoke #cfcfcf;
    border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    color: #333333;
    font-size: 14px;
    line-height: 22px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: 2px 12px;
    text-align: center;
    vertical-align: middle;
    content: 'Ajouter un picto';
}
.file_design_green:hover::before {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.file_design_green:active::before {
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0;
}
.file_design_green:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.widget-header input[type="file"]{
    width: 132px;
}

#bouton_header:focus {
    outline: none;
}

.img_picto{
    width: 64px;
    height: 64px;
    margin: 10px;
    background-color: rgb(47, 47, 47);
}

.btn-circle {
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.button_delete_picto{
    margin: -57px 0px 0 -25px;
}

.blockPicto{
    float: left;
}

.blockPictoVoyage{
    float: left;
    cursor: pointer;
    position: relative;
}

.btn-file {
    position: relative;
    overflow: hidden;
    cursor: pointer !important;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: black;
    cursor: inherit;
    display: block;
    cursor: pointer !important;
}
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer !important;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;    margin-left: -8px;    padding-left: 8px;
    width: 55% !important;
}

.valid_picto{
    position: absolute;

    bottom: -2px;
    right: -4px;
    background-color: #6e9b13;
    border: none;
    outline: none;
    height: 12px;
    width: 22px;
    color: white;
}

.img_picto_selected{
    border: 3px solid #6e9b13;
    margin: 7px;
}

.floatRight{
    float: right;
}

.failed, .failed, .selector.failed {
    border: 1px dashed #eb340a!important;
    background: #faebe7!important;
    margin-bottom: 2px !important;
}

.mail .failed, .une_row.mdp .failed{
    margin-bottom: 10px !important;
}

textarea.failed{
    border: 1px dashed #eb340a!important;
    background: #faebe7!important;
}

.failed input{
    background-color: #faebe7!important;
    border: none; 
    border-radius: 3px;
    box-shadow: none;
}
.mess_required{
    color: #eb340a;
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    float: left;
}

.input-prepend.input-append {
    display: inline-flex;    width: 100%;    
}
.controls p{
    line-height: 30px;
}

.apercu{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.apercu_image{
    max-width: 100%;    
    max-height: 335px;
}

.icon_click{
    cursor: pointer;
    font-size: 20px;
}

span.validate .icon-remove {
    color: #D13023;
}

span.validate .icon-ok {
    color: #166500;
}

span.validate .spinneur img {
    width: 24px;
}

.action_validate img {
    width: 24px;
}

.adminCarnetVoyage [class^="icon-"], [class*=" icon-"]{
    font-size: 23px ;
}
.icon-check{
    color: rgb(52, 132, 52);
}

.icon-check:hover{
    color: rgb(4, 215, 4);
}

.icon-repeat{
    color: rgb(181, 31, 31);
}

.icon-repeat:hover{
    color: rgb(255, 0, 0);
}

.glyphiHide{
    display: none;
}
